{% extends "basic_app/outer_body.html" %} {% block body_block %}
<div class="container">
    {% if registered %}
    <br />
    <h2 class="header">Registration Complete!</h2>
    <br />
    <h6>Thanks for being a member</h6>
    {% else %}
    <br />
    <h2>please register here</h2>
    <br />
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {{ user_form.as_p }} {{ profile_form.as_p }}
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    {% endif %}
    <br />
</div>
{% endblock %}
